
{%extends "header.html" %}
{%block content%}

    <div class="container">
        <br><h1>Füge deine Pflanze in deinen Garten!</h1><br>
    </div>

        <div class="container">
        <form action="{{url_for('pflanzenformular')}}" method="post">
          <div class="mb-3">
            <label class="form-label">Welche Pflanze wird aufgenommen?</label>
            <input type="text" class="form-control" name="pflanze" id="pflanze" placeholder="z.B. Orchidee">
          </div>
          <div class="mb-3">
            <label class="form-label">Mit wie vielen Tagen Abstand soll sie gegossen werden?</label>
            <input type="text" class="form-control" name="giessen" id="giessen" placeholder="z.B. 1">
          </div>
          <div class="mb-3">
            <label class="form-label">Wie viel Dl Wasser braucht sie?</label>
            <input type="text" class="form-control" name="wasser" id="wasser" placeholder="z.B. 1.5">
          </div>
          <div class="mb-3">
            <label class="form-label">Sonstige Angaben</label>
            <input type="text" class="form-control" name="sonstig" id="sonstig" placeholder="z.B. Düngersorte">
          </div>
          <input type="submit" class="btn btn-success"></input>
        </form>
        </div><br>
    <div class="container">

    </div>
{% endblock %}
