
{%extends "header.html" %}
{%block content%}
<div class="container">
    <br>
    <h1>Willkommen {{ name }}</h1>
    <h2>Du befindest dich an der Tür zu deinem Gewächshaus.</h2>
</div>
<div class="container">
    <a class="button" href="{{ url_for('pflanzenformular')}}">
        Füge eine Pflanze in deinen Garten
    </a>
</div>
<div class="container">
    <a class="button" href="{{ url_for('garten')}}">
        Schau dir deinen Garten an!
    </a>
</div>
<div class="container">
    <a class="button" href="{{ url_for('aufgaben')}}">
        Welche Pflanzen brauch heute deine Aufmerksamkeit?
    </a>
</div>
{% endblock %}

